*{
    margin:0;
    padding:0;
}

body{
    background: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container1{
    border:1px solid red;
    height:70px;
    width:100%;
  
}

.todos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.nome{
    margin-top: 10px;
}

.ha{
    color: rgb(235, 92, 92)
}

#gap{
    display:flex;
    align-self: space-evenly;
}