*{
    margin:0;
    padding:0;
}

body{
    background: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

a{
    color: inherit;
    text-decoration: none;
}
/* Inicio cabeçalho */
.container1{
    border:1px solid red;
    height:70px;
    width:100%;
    background-color: rgb(255, 123, 123);
}

.todos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome{
    width: 5%;
    height:45px;
    display:flex;   
    justify-content: center;
    align-items:center;
    font-size: 25px;

}

.ha{
    color: rgb(0, 0, 0);
}

nav > a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color:rgb(141, 136, 136);
}


/* Fim cabeçalho */